* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;

  background-image: url(img/foto_luis\ -\ copia\ \(3\).jpeg);
  background-size: cover;
  background-position: center;

  color: white;
  font-family:
    ui-sans-serif,
    system-ui,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    Segoe UI Symbol,
    "Noto Color Emoji";
}

.overlay {
  position: fixed;
  inset: 0;

  background: rgba(0, 0, 0, 0.55);
}

header {
  position: relative;
  z-index: 2;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 50px;
}

nav ul {
  display: flex;
  gap: 30px;
  list-style: none;
}

nav a {
  color: white;
  text-decoration: none;
}

.hero {
  position: relative;
  z-index: 2;

  height: 80vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.hero h2 {
  font-size: 5rem;
}

.hero h3 {
  margin-top: 10px;
  font-size: 2rem;
}
